html {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #E5E5E5;
}

.master-grid-container {
  display: grid;
  grid-template-columns: 1fr 35% 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 10px;
  align-items: center;
}

.panel-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.panel-title {
  grid-column: 2;
  color: #A0A0A0;
  font-size: 12px;
  margin-top: 1rem;
}

.white-panel {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px;

}

.swatch-row {
  display: flex;
  /*background-color: green;*/
  justify-content: flex-start;
  /*width: 100%;*/
  display: flex;
  flex-wrap: wrap;
}

.swatch {
  position: relative;
  flex: 0 0 72px;
  height: 72px;
}

.swatch-details {
  position: absolute;
  bottom: 0;
  font-size: 8px;
  margin-bottom: 1em;
  margin-left: 1em;
}

#purple {
  background-color: purple;
}

#yellow {
  background-color: yellow;
}

