body {
  background-color: #E5E5E5;
}


.panel-container {
  display: grid;
  grid-template-columns: 1fr 35% 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 10px;
  align-items: center;
}

.panel-title {
  grid-column: 2;
  color: gray;
}

.swatch-panel {
  /*margin: 0 auto;*/
  grid-column: 2;
  background-color: #FFFFFF;
}

/*72 pixels for color swatch*/
